body {
    margin: 0px;
    padding: 0px;
    text-align:center;
    background: url("res/banner.png");
}

main{
    margin: 20px;
}

.header {
    margin: 0px;
    padding: 0px;
}

.navigation
{
    min-height:50px;
}

.navigation ul {
    list-style-type: none;
    color: hsl(0, 0%, 0%, 0.60);
    backdrop-filter: blur(10px);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

.navigation a {
    color: white;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: Kanit;
    font-size: 20px;
    text-decoration: none;
    min-height:100%;
}

.navigation a:hover{
    background-color: hsl(255 0% 100% / 0.32)
}

.navigation li
{
    float:right;
}

.title {
    font-family: Kanit;
    font-size: 82px;
    color: black;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #8900e6, 0 0 40px #8900e6, 0 0 50px #8900e6, 0 0 60px #8900e6, 0 0 70px #8900e6;
}

.panel {
    margin-left: 90px;
    margin-right: 90px;
    color: #000000;
    backdrop-filter: blur(10px) brightness(40%);
    border-radius: 25px;
    min-height: 50px;
}

p {
    color: white;
    font-size: 22px;
    font-family: Kanit;
    padding-top:20px;
    padding-bottom:20px;
}